[mysqld]
innodb_data_file_path=ibdata1:10M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=5242880
innodb_fast_checksum=OFF
innodb_page_size=16384
innodb_log_block_size=512
log-bin = /var/lib/mysql/mysql-bin.log
